<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar>
      <img
        class="header-image"
        mat-card-image
        src="{{ genio.photo }}"
        alt="Foto del Genio"
      />
    </div>
    <mat-card-title>{{ genio.name | titlecase }}</mat-card-title>
    <mat-card-subtitle class="position"> {{ genio.position }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <hr />
    <p><strong>Comida favorita: </strong>{{ genio.favoriteFood }}</p>
    <p><strong>Color favorito: </strong>{{ genio.favoriteColor }}</p>
    <hr />
    <h5><strong>Habilidades</strong></h5>
    <ul class="skill" *ngFor="let skill of genio.skills">
      <li class="s">
        {{ skill }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
